/* FONT */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Spectral:wght@200;300;400;500;600;700&display=swap");

/* font-family: "Roboto", sans-serif;
font-family: "Spectral", serif; */

/* COLORI ISTITUZIONALI */

/* 
GIALLO = #ffc017
NERO = #191919
VERDE = #1a8917
 */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  z-index: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
  color: #191919;
  padding: 0.5rem;
}

body a:hover {
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

body a:active {
  color: #ffc017;
}

/* UTILITIES */

h1 {
  font-family: "Spectral", serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: -5px;
}

h2 {
  font-weight: 400;
}

button {
  cursor: pointer;
  background-color: #191919;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0.8rem 3rem;
  border-radius: 25px;
}

/* HEADER */

nav,
section {
  background-color: #ffc017;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-block: 1.5rem;
  border-bottom: 1px solid #191919;
}

nav > a:hover {
  background-color: initial;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 300ms;
}

nav > a:active {
  background-color: initial;
  transform: scale(1.2);
  transition-property: transform;
  transition-duration: 300ms;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: block;
  margin-inline: 1rem;
}

nav ul li:last-child a {
  background-color: #191919;
  color: white;
  padding: 1rem 1.75rem;
  border-radius: 30px;
}

nav ul li:last-child a:hover {
  background-color: white;
  color: #191919;
}

nav ul li:last-child a:active {
  background-color: white;
  color: #191919;
  padding: 1rem 1.75rem;
  border-radius: 30px;
}

/* SECTION */

section {
  max-height: calc(60vh - 94px);
  display: flex;
  justify-content: flex-end;
}

svg {
  display: block;
  max-height: calc(60vh - 94px);
  margin-right: 0;
}

.svg_box {
  border: 1px solid red;
}
